.page-error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5em 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 3.5em;
    justify-items: center;
    width: 100%;
    height: auto;
    max-width: 35em;
    border-radius: 25px;
    background: var(--white-color);
  }

  h1 {
    margin:0;
    font-size: 4rem;
  }
  
  p {
    font-size: 1.5rem;
  }